{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{{question.content }}{% endblock %}

{% block body_main_container %}
{% for message in app.flashes('success') %}
    <div class=" alert alert-primary" style="font-size: 1.7rem;">
        {{message}}
    </div>
{% endfor %}

    <div class="container">
        <div class="mb-2">
            <div class="bg-primary mb-2 mt-1 container text-light pb-1 animated fadeInLeft " style="min-height: 200px;">
                <div class=" fixed-wrapper">
                    <h5 class="text-center pt-2" style="min-height: 100px;">{{question.content }}</h5>
                </div>
                <div class="p-0 text-center text-light fixed-wrapper" style="">
                    <div class="m-0"  style="background-color: rgba(44, 43, 43, 0.78);">
                        <p style="min-height: 20px;">
                            <span>Saisit ta réponse ici !</span>
                            <span>
                                <img src="{{asset('assets/img/arrow_down.ico')}}" alt="" srcset="" class=" animated bounceIn infinite">
                            </span>
                        </p>

                    </div>
                    <div style="min-height: 40px;" class=" p-0 m-0">
                        {{ include('reponse/_form.html.twig') }}
                    </div>
                </div>

            </div>
            </div>
            <div class="row">
                <div class="col-md-12 btn-group mb-2 animated fadeInRight delay-1s" >
                    <a href="{{ path('reponse_new', {'question_id': question.id - 1}) }}" class="btn btn-outline-default btn "> &leftarrow; <small>Question précedente</small></a>
                    <a href="{{ path('reponse_new', {'question_id': question.id + 1}) }}" class="btn btn-outline-default btn"> <small>Question suivante</small>  &rightarrow; </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 btn-group animated fadeInLeft delay-2s" height="200px">
                    {% if not app.user %}
                    <a href="{{ path('question_new') }}" class="btn btn-outline-primary btn-lg "> Poser une nouvelle question</a>
                    {% endif %}
                    <a href="{{ path('question_index') }}" class="btn btn-outline-success btn-lg "> Liste des questions</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


