{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des questions{% endblock %}

{% block body_main_container %}

<div class="container">
    <div class="mb-2">
        <div class="mb-2 mt-1">
            <div class="list-group table table-striped">
                    {% for question in questions  %}
                    <a href="{{ path('question_show', {'id': question.id}) }}" class="list-group-item list-group-item-action flex-column align-items-start ">
                        <div class="d-flex w-100 justify-content-between ">
                            <h6 class="mb-1 {% if not question.reponse and  question.status == 0  %} text-danger {% else %} text-success {% endif %}">{{ question.content }}</h6>
                            <small> <small> {{ question.createdAt ? question.createdAt|date('d-M-Y à H:i:s') : '' }} </small> </small>
                        </div>
                      <SMall><small class="text-info">  {% if not question.reponse and  question.status == 0  %} Hermann n'a pas encore répondu {% else %} <b>Hermann a répondu</b>  {% endif %}</small></SMall>
                    </a>
                    <div class="navigation">
                        {# {{ knp_pagination_render(questions) }} #}
                    </div>
                    {% else %}
                          <p> il n'y a pas encore de question</p>
                    {% endfor %}
              </div>
        </div>
        <div class="row">
            <div class="col-md-12 btn-group" height="200px">
                {% if not app.user %}
                <a href="{{ path('question_new') }}" class="btn btn-outline-primary btn-lg "> Poser une nouvelle question</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/libraries/time_ago/time_ago.js')}}"></script>
{% endblock %}
