<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Annonymous -Hermanno- {% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href=" {{asset('assets/css/mdb.min.css')}} ">
            <link rel="stylesheet" href=" {{asset('assets/css/bootstrap.min.css')}} ">
            <link rel="stylesheet" href=" {{asset('assets/css/bootstrap-grid.min.css')}} ">
            <link rel="stylesheet" href=" {{asset('assets/css/bootstrap-reboot.min.css')}} ">

        {% endblock %}
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ebc07efc829af0012ba43cd&product=inline-share-buttons' async='async'></script>
    </head>
    <body style="background-color: #ddeeffab;">
        {% block body %}
        <div style="min-height: 492px;">
          {% block nav %}
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" style="font-size: 210%;" href="{{ path('question_new') }}">Annonymous</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item  {% if action is defined and  action == 'new_question' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('question_new') }}">Posez moi une question {% if action is defined and  action == 'new_question' %} <span class="sr-only">(current)</span> {% endif %} </a>
                  </li>
                  <li class="nav-item {% if action is defined and  action == 'list_question' %} active {% endif %}">
                    <a class="nav-link " href="{{ path('question_index') }}">lisez mes réponses {% if action is defined and action == 'list_question' %} <span class="sr-only">(current)</span>  {% endif %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " onclick=" alert('Cette partie de l\'application est encore en développement, mais vous l\'aurez tres bientot, dans les prochaines mises à jour !');">Mon CV</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  onclick=" alert('Cette partie de l\'application est encore en développement, mais en attendant, pouvez me donner vos avis comme une question \n je vous promet de toutes les lires !');" >Donnez votre avis</a>
                  </li>
                </ul>
              </div>
            </nav>
          {% endblock %}
          {% block body_main_container %}
          {% endblock %}
        </div>

        {% endblock %}
        <div class="bg-dark small p-3">
            <div class="mgt-2 bg-dark text-center text-white"> Allez <a  class="text-primary" onclick=" alert('Cette partie de l\'application est encore en développement, mais vous l\'aurez tres bientot, dans les prochaines mises à jour !');"> consulter mon CV </a>au plus vite, pour en savoir plus sur <i class="text-success">Hermanno </i>, dans son monde Profeessionel !!
            </div>
            <div class="sharethis-inline-follow-buttons"></div>
                <div class="bg-dark">
                    <center>
                        <hr class="m-0  mt-2 mb-2 bg-primary p-1" width="50%">
                    </center>
                </div>
            <div class="text-white bg-dark text-center"> CopyRight(2020) -  Mini-Application web développée avec trooooop d'<span class="text-danger">amour</span> par <i class="text-success">Hermanno </i></div>
        </div>
        {% block javascripts %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('assets/js/jquery.min.js')}}"></script>
            <script src="{{asset('assets/js/popper.min.js')}}"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>